body {
    background: #fefeef;
    color: #333
}

.mainHeader {
    color: red;
}

.sectionHeader, .diaryHeader {
    color: #1460aa;
    font-size: 30px;
}


footer {
    color: black;
}

.page2Header {
    color: #3D5467;
    font-size: 30px;
}

.mainPage2 {
 color: firebrick;
 font-size: 24px;
}

.bodyPage2 {
    background: #fefeef;
}

.link{
    color: #DB5461
}

.thirdHeader{
    color:#51DAAA
}
